/* reset css start  */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* reset css end */

.container {
    max-width: 1206px !important;
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 20px !important;
    }
}


/* product-page common styling start*/
.mb-50 {
    margin-bottom: 50px !important;
}

/* product-page common styling end*/


/* benefits section css start */
.benefits-cards-section .default-content-wrapper {
    text-align: center;
}

.benefits-cards-section .default-content-wrapper h2 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    color: #333;
    margin-bottom: 12px;
}

.benefits-cards-section .default-content-wrapper p {
    font-family: 'HelveticaNeueLTStd-Bd', sans-serif;
    font-size: 18px;
    line-height: normal;
    color: #333;
    margin-bottom: 32px;
}

.benefits-cards-section .benefits-wrapper .benefits {
    display: flex;
    flex-wrap: wrap;
}

.benefits-cards-section .benefits-wrapper .benefits .benefits-card {
    width: 33.3%;
    padding: 15px 24px 22px 24px;
    border-top: 1px solid #F6F6F6;
    border-right: 1px solid #F6F6F6;
}

.benefits-cards-section .benefits-wrapper .benefits .benefits-card:nth-child(-n+3) {
    border-top: 0;
}

.benefits-cards-section .benefits-wrapper .benefits .benefits-card:nth-child(3n) {
    border-right: 0;
}

.benefits-cards-section .benefits-wrapper .benefits .benefits-card div:first-child {
    display: flex;
    column-gap: 16px;
    margin-bottom: 20px;
}

.benefits-cards-section .benefits-wrapper .benefits .benefits-card div:first-child p {
    margin-bottom: 0;
}

.benefits-cards-section .benefits-wrapper .benefits .benefits-card div:first-child img {
    width: 48px;
    height: 48px;
}

.benefits-cards-section .benefits-wrapper .benefits .benefits-card div:first-child h3 {
    max-width: 234px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: #333;
    margin-bottom: 0;
}

.benefits-cards-section .benefits-wrapper .benefits .benefits-card div:nth-child(2) {
    font-family: 'helveticaregular', sans-serif;
    font-size: 16px;
    line-height: normal;
}


@media screen and (max-width: 768px) {
    .benefits-cards-section .default-content-wrapper h2 {
        font-size: 20px;
    }

    .benefits-cards-section .default-content-wrapper p {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .benefits-cards-section .benefits-wrapper .benefits .benefits-card {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #F6F6F6;
        padding: 16px 0;
    }

    .benefits-cards-section .benefits-wrapper .benefits .benefits-card div:first-child {
        column-gap: 11px;
        margin-bottom: 4px;
    }

    .benefits-cards-section .benefits-wrapper .benefits .benefits-card div:first-child img {
        width: 40px;
        height: 40px;
    }

    .benefits-cards-section .benefits-wrapper .benefits .benefits-card div:first-child h3 {
        font-size: 16px;
    }

    .benefits-cards-section .benefits-wrapper .benefits .benefits-card div:nth-child(2) {
        font-size: 14px;
    }
}

/* benefits section css end */



/* additional benefits css start */
.additional-benefits-section {
    border-radius: 10px;
    background: #ECF5FA;
    padding: 48px 40px 48px 40px !important;
}

.additional-benefits-section .default-content-wrapper {
    text-align: center;
}

.additional-benefits-section .default-content-wrapper h2 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    color: #333;
    margin-bottom: 72px;
}

.additional-benefits-section .additional-benefits-wrapper .additional-benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 64px;
}

.additional-benefits-section .additional-benefits-wrapper .additional-benefits .additional_benefits-card {
    width: 32%;
    border-radius: 10px;
    border: 1px solid#B3D5EB;
    background: #E0EEF7;
    padding: 48px 16px 20px 16px;
    position: relative;
}

.additional-benefits-section .additional-benefits-wrapper .additional-benefits .additional_benefits-card div:first-child {
    position: absolute;
    top: -33px;
    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.10);
    padding: 8px;
}

.additional-benefits-section .additional-benefits-wrapper .additional-benefits .additional_benefits-card div:nth-child(2) h3 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
    color: #333;
}

.additional-benefits-section .additional-benefits-wrapper .additional-benefits .additional_benefits-card div:nth-child(2) p {
    color: #333;
    font-family: 'helveticaregular', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .additional-benefits-section {
        padding: 32px 20px 16px 20px !important;
    }

    .additional-benefits-section .default-content-wrapper h2 {
        font-size: 20px;
        margin-bottom: 44px;
    }

    .additional-benefits-section .additional-benefits-wrapper .additional-benefits {
        row-gap: 40px;
    }

    .additional-benefits-section .additional-benefits-wrapper .additional-benefits .additional_benefits-card {
        width: 100%;
        padding: 40px 20px 20px 20px;
    }

    .additional-benefits-section .additional-benefits-wrapper .additional-benefits .additional_benefits-card div:first-child {
        top: -23px;
    }

    .additional-benefits-section .additional-benefits-wrapper .additional-benefits .additional_benefits-card div:first-child img {
        width: 30px;
        height: 30px;
    }

    .additional-benefits-section .additional-benefits-wrapper .additional-benefits .additional_benefits-card div:nth-child(2) h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .additional-benefits-section .additional-benefits-wrapper .additional-benefits .additional_benefits-card div:nth-child(2) p {
        font-size: 14px;
    }
}

/* additional benefits css end */



/* buy criteria section css start */
.buy-criteria-section {
    background-color: #ECF5FA;
    padding: 60px 0 !important;
    max-width: unset !important;
}

.buy-criteria-section .default-content-wrapper {
    max-width: 1206px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.buy-criteria-section .buy-section-wrapper {
    max-width: 1206px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.buy-criteria-section .default-content-wrapper {
    text-align: center;
}

.buy-criteria-section .default-content-wrapper h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    color: #333;
    margin-bottom: 32px;
}

.buy-criteria-section .buy-section-wrapper p {
    margin-bottom: 0;
}

.buy-criteria-section .buy-section-wrapper .buy-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

.buy-criteria-section .buy-section-wrapper .buy-section .buy_section-card {
    width: 32%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.10);
    padding: 24px;
}

.buy-criteria-section .buy-section-wrapper .buy-section .buy_section-card div:first-child {
    display: flex;
    column-gap: 16px;
    margin-bottom: 16px;
}

.buy-criteria-section .buy-section-wrapper .buy-section .buy_section-card div:first-child h3 {
    max-width: 175px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}

.buy-criteria-section .buy-section-wrapper .buy-section .buy_section-card div:nth-child(2) {
    font-family: 'helveticaregular', sans-serif;
    font-size: 14px;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .buy-criteria-section {
        padding: 40px 0 !important;
    }

    .buy-criteria-section .default-content-wrapper h2 {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .buy-criteria-section .default-content-wrapper,
    .buy-criteria-section .buy-section-wrapper {
        padding: 0 20px;
    }

    .buy-criteria-section .buy-section-wrapper .buy-section .buy_section-card {
        width: 100%;
        padding: 20px;
    }

    .buy-criteria-section .buy-section-wrapper .buy-section .buy_section-card div:first-child {
        column-gap: 16px;
    }

    .buy-criteria-section .buy-section-wrapper .buy-section .buy_section-card div:first-child img {
        width: 40px;
        height: 40px;
    }

    .buy-criteria-section .buy-section-wrapper .buy-section .buy_section-card div:first-child h3 {
        font-size: 16px;
        max-width: 126px;
    }

    .buy-criteria-section .buy-section-wrapper .buy-section .buy_section-card div:nth-child(2) {
        font-size: 12px;
    }
}

/* buy criteria section css end */



/* plan option table css start */
.plan-option-table .default-content-wrapper {
    text-align: center;
}

.plan-option-table .default-content-wrapper h2 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    color: #333;
    margin-bottom: 12px;
}

.plan-option-table .default-content-wrapper p {
    font-family: 'HelveticaNeueLTStd-Bd', sans-serif;
    font-size: 18px;
    line-height: normal;
    color: #333;
    margin-bottom: 32px;
}

.plan-option-table .table-wrapper .table table p {
    margin-bottom: 0;
}

.plan-option-table .table-wrapper .table table tr {
    border-bottom: 0;
    border-top: 0;
}

.plan-option-table .table-wrapper .table table thead tr {
    border-bottom: 1px solid #E6E6E6;
}

.plan-option-table .table-wrapper .table table thead tr th:first-child {
    font-family: 'HelveticaNeueLTStd-Bd', sans-serif;
    font-size: 16px;
    line-height: normal;
    text-align: left;
    padding-left: 10px;
}

.plan-option-table .table-wrapper .table table thead tr th {
    text-align: center;
    padding: 0 16px 32px 16px;
}

.plan-option-table .table-wrapper .table table thead tr th:nth-child(3) strong {
    border: 1px solid #0073BB;
}

.plan-option-table .table-wrapper .table table thead tr th p strong {
    padding: 20px 10px;
    background-color: #ECF5FA;
    border-radius: 6px;
    width: 100%;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: #0073BB;
    margin-bottom: 16px;
}

.plan-option-table .table-wrapper .table table thead tr th p:nth-child(2) {
    font-family: 'HelveticaNeueLTStd-Bd', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #333;
}

.plan-option-table .table-wrapper .table table tbody tr td {
    border-bottom: 1px solid #E6E6E6;
    padding: 18px 30px 32px 30px;
}

.plan-option-table .table-wrapper .table table tbody tr td:first-child {
    padding-left: 10px;
}

.plan-option-table .table-wrapper .table table tbody tr td:first-child p {
    font-family: 'helveticaregular', sans-serif;
    font-size: 14px;
    line-height: normal;
    color: #333;
}

.plan-option-table .table-wrapper .table table tbody tr td:first-child strong {
    font-family: 'HelveticaNeueLTStd-Bd', sans-serif;
    font-size: 16px;
    line-height: normal;
}

.plan-option-table .table-wrapper .table table tbody tr td:not(:first-child),
.plan-option-table .table-wrapper .table table tbody tr td:not(:first-child) p {
    font-family: 'helveticaregular', sans-serif;
    font-size: 16px;
    line-height: normal;
}

.plan-option-table .table-wrapper .table table tbody tr td:nth-child(3) {
    background-color: #ECF5FA;
}

/* plan option table css end */



/* product importance section css start */
.product-importance-section {
    border-radius: 10px;
    background: #FCF1F4;
    padding: 60px 40px !important;
}

.product-importance-section .default-content-wrapper {
    text-align: center;
}

.product-importance-section .default-content-wrapper h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
    color: #333;
}

.product-importance-section .product-importance-wrapper .product-importance {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.product-importance-section .product-importance-wrapper .product-importance .product-importance-cards {
    width: 22.5%;
    margin-right: 32px;
    padding: 15px 12px 16px 12px;
    border-radius: 10px;
    border: 1px solid #D62049;
    background: #FFF;
    display: flex;
    align-items: center;
    column-gap: 20px;
    border-left-width: 4px;
}

.product-importance-section .product-importance-wrapper .product-importance .product-importance-cards:nth-child(4n) {
    margin-right: 0;
}

.product-importance-section .product-importance-wrapper .product-importance .product-importance-cards div:nth-child(1) {
    position: relative;
}

.product-importance-section .product-importance-wrapper .product-importance .product-importance-cards div:nth-child(1)::after {
    position: absolute;
    content: '';
    background: linear-gradient(270deg, rgba(0, 32, 52, 0.00) 0%, rgba(0, 32, 52, 0.18) 49.79%, rgba(0, 32, 52, 0.00) 100%);
    height: 100%;
    width: 1px;
    right: -10px;
}

.product-importance-section .product-importance-wrapper .product-importance .product-importance-cards div:nth-child(2) {
    font-family: 'helveticaregular', sans-serif;
    font-size: 16px;
    line-height: normal;
    width: 73%;
    color: #333;
}

@media screen and (max-width: 768px) {
    .product-importance-section {
        padding: 32px 20px 32px 20px !important;
    }

    .product-importance-section .default-content-wrapper h2 {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .product-importance-section .product-importance-wrapper .product-importance {
        flex-wrap: unset;
        row-gap: unset;
        overflow-x: scroll;
    }

    .product-importance-section .product-importance-wrapper .product-importance .product-importance-cards {
        min-width: 230px;
        width: 100%;
        margin-right: 12px;
        padding: 8px 8px 8px 12px;
    }

    .product-importance-section .product-importance-wrapper .product-importance .product-importance-cards div:nth-child(1) img {
        width: 32px;
        height: 32px;
    }

    .product-importance-section .product-importance-wrapper .product-importance .product-importance-cards div:nth-child(2) {
        font-size: 14px;
    }
}

/* product importance section css end */


/* buying steps section css start */
.buying-steps-section {
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.10);
    border: 1px solid #D62049;
    border-radius: 10px;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.buying-steps-section .default-content-wrapper {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.buying-steps-section .buying-steps-wrapper {
    padding-left: 40px;
    padding-right: 40px;
}

.buying-steps-section .default-content-wrapper h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    color: #333;
}

.buying-steps-section .buying-steps-wrapper .buying-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card {
    width: 23%;
    text-align: center;
    position: relative;
}

.buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #F3BCC8;
    width: 100%;
    top: 22px;
    left: calc(50% + 22px);
}

.buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card:last-child::after {
    content: none;
}

.buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card div p:nth-child(1) {
    background-color: #E26380;
    color: #FFF;
    font-family: 'HelveticaNeueLTStd-Bd', sans-serif;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 16px;
    display: inline-block;
    border-radius: 100%;
    padding: 12px;
}


.buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card:last-child div p:nth-child(1)::after {
    content: none;
}

.buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card div p:nth-child(2) {
    margin-bottom: 17px;
}

.buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card div p:nth-child(3) {
    font-family: 'HelveticaNeueLTStd-Bd', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .buying-steps-section {
        padding: 32px 40px 40px 40px !important;
    }

    .buying-steps-section .default-content-wrapper h2 {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .buying-steps-section .buying-steps-wrapper .buying-steps {
        flex-direction: column;
        row-gap: 48px;
    }

    .buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card {
        width: 100%;
    }

    .buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card div:nth-child(1) {
        display: flex;
        align-items: center;
    }

    .buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card::after {
        width: 2px;
        height: calc(100% + 4px);
        top: calc(100% - 1px);
        left: 22px;
    }

    .buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card div p:nth-child(1) {
        margin-right: 25px;
        margin-bottom: 0;
    }

    .buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card div p:nth-child(2) {
        margin-right: 16px;
        margin-bottom: 0;
    }

    .buying-steps-section .buying-steps-wrapper .buying-steps .buying-steps-card div p:nth-child(3) {
        width: 53%;
        text-align: left;
    }

    .buying-steps-section .default-content-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .buying-steps-section .buying-steps-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

/* buying steps section css end */



/* claim process css start */

.claim-process-section {
    background-color: #ECF5FA;
    max-width: unset !important;
    padding: 60px 0 !important;
}

.claim-process-section .default-content-wrapper,
.claim-process-section .claim-steps-wrapper {
    max-width: 883px;
    width: 100%;
    margin: 0 auto;
}

.claim-process-section .default-content-wrapper {
    text-align: center;
}

.claim-process-section .default-content-wrapper h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
    color: #333;
}

.claim-process-section .claim-steps-wrapper .claim-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards {
    width: 21.5%;
    text-align: center;
    position: relative;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 7px;
    background-color: #4D9DCF;
    display: inline-block;
    top: 26.5px;
    left: calc(50% + 29px);
    z-index: 1;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards:last-child::after {
    content: none;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 7px;
    background-color: #4D9DCF;
    display: inline-block;
    top: 26.5px;
    right: calc(50% + 29px);
    z-index: 1;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards:first-child::before {
    content: none;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:first-child {
    width: 60px;
    height: 60px;
    background-color: #4D9DCF;
    position: relative;
    border-radius: 50%;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 12px;
    display: inline-block;
    z-index: 2;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:first-child h4 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    color: #FFF;
    margin-bottom: 0;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:nth-child(2) {
    font-size: 16px;
    color: #333;
    font-family: 'helveticaregular', sans-serif;
    line-height: normal;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:nth-child(2) p {
    margin-bottom: 0;
    font-family: 'helveticaregular', sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #333;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:nth-child(2) .button-container {
    margin-bottom: 8px;
}

.claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:nth-child(2) .button-container a {
    display: inline-block;
    padding: 11px 13px;
    border-radius: 6px;
    background: #D62049;
    font-family: 'HelveticaNeueLTStd-Bd', sans-serif;
    font-size: 14px;
    line-height: normal;
    color: #FFF;
}

.claim-process-section .columns-wrapper {
    max-width: 960px;
    width: 100%;
    margin: 40px auto 20px auto;
}

.claim-process-section .columns-wrapper .columns {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
}

.claim-process-section .columns-wrapper .columns .claim-column-card {
    width: 45.83%;
    column-gap: 24px;
    align-items: flex-start;
}

.claim-process-section .columns-wrapper .columns .claim-column-card .columns-img-col,
.claim-process-section .columns-wrapper .columns .claim-column-card .columns-img-col img {
    width: 84px;
    height: 84px;
    flex: unset;
}

.claim-process-section .columns-wrapper .columns .claim-column-card div:nth-child(2) p{
    margin-bottom: 24px;
    font-family: 'helveticaregular', sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #333;
}

.claim-process-section .columns-wrapper .columns .claim-column-card div:nth-child(2) p strong{
    font-size: 18px;
    font-family: 'HelveticaNeueLTStd-Bd', sans-serif;
}

.claim-process-section .columns-wrapper .columns .claim-column-card div:nth-child(2) ul{
    padding-left: 15px;
}

.claim-process-section .columns-wrapper .columns .claim-column-card div:nth-child(2) ul li{
    list-style-type: disc;
    margin-bottom: 20px;
    font-family: 'helveticaregular', sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #333;
}

.claim-process-section .columns-wrapper .columns .claim-column-card div:nth-child(2) ul li::marker{
    color: #D62049;
}

.claim-process-section .columns-wrapper .columns .claim-column-card div:nth-child(2) ul li:last-child{
    margin-bottom: 0;
}

.claim-process-section .default-content-wrapper .button-container{
    text-align: center;
    margin-bottom: 0;
}

.claim-process-section .default-content-wrapper .button-container a{
    padding: 17px 32px;
    border: 2px solid #0073BB;
    border-radius: 6px;
    color:  #0073BB;
    font-family: 'HelveticaNeueLTStd-Md', sans-serif;
    font-size: 20px;
    line-height: normal;
    display: inline-block;
}


@media screen and (max-width: 768px) {
    .claim-process-section {
        padding: 32px 0 40px 0 !important;
    }

    .claim-process-section .default-content-wrapper,
    .claim-process-section .claim-steps-wrapper {
        padding: 0 20px;
    }

    .claim-process-section .default-content-wrapper h2 {
        font-size: 20px;
        margin-bottom: 32px;
    }

    .claim-process-section .claim-steps-wrapper .claim-steps {
        flex-direction: column;
        row-gap: 33px;
        padding-left: 22px;
    }

    .claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards {
        width: 100%;
        display: flex;
        align-items: flex-start;
        column-gap: 32px;
        text-align: left;
    }

    .claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:first-child {
        width: 36px;
        height: 36px;
        padding: 10px 0;
        margin-bottom: 0;
    }

    .claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:first-child h4 {
        font-size: 16px;
        margin-bottom: 0;
    }

    .claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:nth-child(2) {
        width: 61%;
        font-size: 14px;
    }

    .claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:nth-child(2) .button-container a {
        padding: 9px 13px;
    }

    .claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards div:nth-child(2) p {
        font-size: 14px;
    }

    .claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards::before {
        content: none;
    }

    .claim-process-section .claim-steps-wrapper .claim-steps .claim-process-cards::after {
        width: 4px;
        height: calc(100% + 33px);
        left: 16px;
        top: 0;
    }

    .claim-process-section .columns-wrapper{
        padding: 0 20px;
        margin: 52px auto 24px auto;
    }

    .claim-process-section .columns-wrapper .columns{
        column-gap: unset;
        row-gap: 32px;
    }

    .claim-process-section .columns-wrapper .columns .claim-column-card{
        width: 100%;
        flex-direction: row;
    }

    .claim-process-section .columns-wrapper .columns .claim-column-card div:nth-child(2){
        width: 61%;
    }

    .claim-process-section .columns-wrapper .columns .claim-column-card div:nth-child(2) p{
        margin-bottom: 8px;
        font-size: 12px;
    }

    .claim-process-section .columns-wrapper .columns .claim-column-card div:nth-child(2) p strong{
        font-size: 16px;
    }

    .claim-process-section .columns-wrapper .columns .claim-column-card div:nth-child(2) ul li{
        font-size: 10px;
        margin-bottom: 4px;
    }

    .claim-process-section .default-content-wrapper .button-container a{
        padding: 11px 13px;
        font-size: 14px;
    }
}

/* claim process css end */



/* testimonial-carousel css start */

.testimonial-carousel {
    background-color: #FCF1F4;
    padding: 40px 0 75px 0 !important;
    max-width: unset !important;
}

.testimonial-carousel .default-content-wrapper {
    text-align: center;
}

.testimonial-carousel .default-content-wrapper,
.testimonial-carousel .testimonial-wrapper {
    max-width: 1206px;
    width: 100%;
    margin: 0 auto;
}

.testimonial-carousel .testimonial-wrapper {
    position: relative;
}

.testimonial-carousel .testimonial-wrapper .testimonial {
    padding-top: 32px;
}

.testimonial-carousel .testimonial-wrapper .testimonial::-webkit-scrollbar {
    display: none;
}

.testimonial-carousel .default-content-wrapper h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
    color: #333;
}

.testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards {
    margin-left: 16.5px;
    margin-right: 16.5px;
    border-radius: 10px;
    border: 1px solid #F3BCC8;
    background: #FFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.10);
    padding: 20px 20px 50px 20px;
    position: relative;
}

.testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards div:first-child {
    position: absolute;
    top: -32px;
}

.testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards div:nth-child(2) p:first-child {
    font-family: 'helveticaregular', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    text-align: right;
    margin-bottom: 23px;
    color: #A3A3A3;
}

.testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards div:nth-child(2) h3 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: #0073BB;
    margin-bottom: 18px;
}

.testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards div:nth-child(2) p:nth-child(3) {
    font-family: 'helveticaregular', sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #5B5B5B;
    margin-bottom: 0;
}

.testimonial-carousel .testimonial-wrapper .glider-prev,
.testimonial-carousel .testimonial-wrapper .glider-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0px 4px 8px -2px #0000001A;
}

.testimonial-carousel .testimonial-wrapper .glider-prev {
    left: -3px;
    top: 50%;
}

.testimonial-carousel .testimonial-wrapper .glider-next {
    right: -3px;
    top: 50%;
}

.testimonial-carousel .testimonial-wrapper .glider-prev.disabled,
.testimonial-carousel .testimonial-wrapper .glider-next.disabled {
    display: none;
}

.testimonial-carousel .testimonial-wrapper .glider-prev::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 2px solid #D62049;
    border-top: 2px solid #D62049;
    transform: rotate(315deg);
    top: 15px;
    left: 17px;
}

.testimonial-carousel .testimonial-wrapper .glider-next::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 2px solid #D62049;
    border-top: 2px solid #D62049;
    transform: rotate(135deg);
    top: 15px;
    right: 17px;
}

.testimonial-carousel .testimonial-wrapper .glider-dots {
    display: none;
}

@media screen and (max-width: 768px) {
    .testimonial-carousel .default-content-wrapper h2 {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .testimonial-carousel {
        padding: 40px 0 32px 20px !important;
    }

    .testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards {
        padding: 12px 20px 20px 20px;
        margin-right: 10px;
        margin-left: 0;
    }

    .testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards:last-child {
        margin-right: 20px;
    }

    .testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards div:first-child {
        top: -23px
    }

    .testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards div:first-child img {
        width: 46px;
        height: 46px;
    }

    .testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards div:nth-child(2) p:first-child {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards div:nth-child(2) h3 {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .testimonial-carousel .testimonial-wrapper .testimonial .testimonials-cards div:nth-child(2) p:nth-child(3) {
        font-size: 14px;
    }

    .testimonial-carousel .testimonial-wrapper .glider-prev,
    .testimonial-carousel .testimonial-wrapper .glider-next {
        display: none;
    }

    .testimonial-carousel .testimonial-wrapper .glider-dots {
        display: flex;
        margin-top: 20px;
    }

    .testimonial-carousel .testimonial-wrapper .glider-dots .glider-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #F3BCC8;
        margin: 0 5px;
        padding: 0;
    }

    .testimonial-carousel .testimonial-wrapper .glider-dots .glider-dot.active {
        background-color: #D62049;
    }
}

/* testimonial-carousel css end */


/* download section css start*/
.download-section{
    background-color: #ECF5FA;
    border-radius: 10px;
}

.download-section .columns-wrapper{
    padding: 40px 120px 45px 120px;
}

.download-section .columns-wrapper .columns > div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.download-section .columns-wrapper .columns > div div:nth-child(1){
    width: 40%;
    flex: unset;
}

.download-section .columns-wrapper .columns > div div:nth-child(1) h3{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    color: #333;
}

.download-section .columns-wrapper .columns > div div:nth-child(1) ul{
    display: flex;
    flex-wrap: wrap;
}

.download-section .columns-wrapper .columns > div div:nth-child(1) ul li{
    width: 40%;
    margin-right: 20px;
    display: flex;
    align-self: center;
    padding: 13px 20px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.10);
}

.download-section .columns-wrapper .columns > div div:nth-child(1) ul li a{
    color: #333;
    font-family: 'helveticaregular', sans-serif;
    font-size: 16px;
    line-height: normal;
    width: 76%;
}

.download-section .columns-wrapper .columns > div div:nth-child(1) ul li picture img{
    width: 35px;
    height: 37px;
}

.download-section .columns-wrapper .columns > div div:nth-child(2){
    width: 38%;
    flex: unset;
    position: relative;
}

.download-section .columns-wrapper .columns > div div:nth-child(2)::before{
    position: absolute;
    left: -35%;
    content: '';
    height: 100%;
    width: 1px;
    background: linear-gradient(0deg, rgba(0, 32, 52, 0.00) 0%, rgba(0, 32, 52, 0.18) 49.79%, rgba(0, 32, 52, 0.00) 100%);
}

.download-section .columns-wrapper .columns > div div:nth-child(2) h5{
    color: #333;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.download-section .columns-wrapper .columns > div div:nth-child(2) .button-container a{
    display: inline-block;
    padding: 17px 32px;
    border-radius: 6px;
    background: #D62049;
    color: #FFF;
    font-family: 'HelveticaNeueLTStd-Md', sans-serif;
    font-size: 20px;
    line-height: normal;
}

@media screen and (max-width: 768px){
    .download-section .columns-wrapper{
        padding: 32px 0;
    }

    .download-section .columns-wrapper .columns > div{
        row-gap: 36px;
    }

    .download-section .columns-wrapper .columns > div div:nth-child(1){
        width: 100%;
    }

    .download-section .columns-wrapper .columns > div div:nth-child(1) h3{
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .download-section .columns-wrapper .columns > div div:nth-child(2){
        width: 100%;
    }

    .download-section .columns-wrapper .columns > div div:nth-child(1) ul {
        column-gap: 9px;
        row-gap: 10px;
    }

    .download-section .columns-wrapper .columns > div div:nth-child(1) ul li{
        width: 48.5%;
        margin-right: 0;
        padding: 12px 16px;
        align-items: center;
    }

    .download-section .columns-wrapper .columns > div div:nth-child(1) ul li a{
        font-size: 12px;
    }

    .download-section .columns-wrapper .columns > div div:nth-child(1) ul li picture img{
        width: 29px;
        height: 31px;
    }
}
/* download section css end*/