/* reset css start  */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* reset css end */

.container {
    max-width: 1366px;
    padding-right: 84px;
    padding-left: 84px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
}